#background{
  background-image: url('./chat.png');
  height: 100%;
  background-size: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#head{
    font-size: 30px;
    font-weight:bold;
    margin-top: 20px;
    color:#fff;

}
#icon{
  margin-left : 90%;
  margin-top: -15%;
  color:#fff;
}
