<ion-content color="light" >
  <div id="container">
    <div id="background">

      <h1>Welcome to IChat</h1>
      <form  novalidate #loginForm="ngForm" >

        <ion-input id="form1" ngModel #username="ngModel" name ="username" placeholder="Username"><ion-icon id="person" name="person"></ion-icon></ion-input>
        <ion-input id="form2" ngModel #password="ngModel" name ="password" [type]="password_type" placeholder="Password"><ion-icon id="key" name="key"></ion-icon></ion-input>
        <ion-icon  item-right (click)="togglePasswordMode()"></ion-icon>

        <input id="login1" type="button" value="login" name="Login" (click)="clickLogin(loginForm.value)">
      </form>
    </div>
  </div>


</ion-content>
