#container{
  align-items: center;
  align-self: center;
  //display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}



#form1{
  width: 320px;
  height: 58px;
  margin-top: 55px;
  border-radius: 25px;
  color: #FFFF;
  background-color: #f3aaa4;
  margin-left: 2%;
}
#person{
 margin-left: 2%;
 width: 20px;
 height: 20px;
}
#form2{
  width: 320px;
  height: 58px;
  margin-top: 50px;
  border-radius: 25px;
  color: #FFFF;
  background-color: #f3aaa4;
  margin-left: 2%;
}
#key{
  margin-left: 2%;
  width: 20px;
  height: 20px;

 }
#login1{
  width: 194px;
  height: 60px;
  margin-top: 30%;
  border-radius: 30px;
  font-size: 120%;
  color: #FFFF;
  background-color: #F48478;
  margin-left: 15%;

}


#background {
  height: 100%;
  background-image: url('./login.png');
  background-size: 100%;
  align-items: center;
  display:flex;
  flex-direction: column;
}

#background  h1{
  padding-top: 50px;
  color: #FFFF;
  font-size: 30px;


}
