// #bar  {

// }
ion-tab-bar, ion-tab-button{
    background-color:#FFD6DA;
     }
    
     #chat{
      height: 110px;
      width: 110px;
    }
    
     #icon{
      height: 60px;
      width: 60px;
    }
    
    #noti{
      height: 90px;
      width: 90px;
    }
    
    #profile{
      height: 70px;
      width: 70px;
    }
    
    // img{
    //   height: 50px;
    //   width: 50px;
    //   background-image: url('./image/Notification.png');
    // }
    