<!-- <ion-content>
{{profile}}
<button (click)="clickShow()"> Click</button>
</ion-content> -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="post">
      <img id="icon" src="https://drive.google.com/uc?export=view&id=1ueBIto9y9YLXh7R6AijU5TwhJAvw2ePZ" alt="">

    </ion-tab-button>

    <ion-tab-button tab="chatfriend">
      <img id="chat" src="https://drive.google.com/uc?export=view&id=1lXRSWjeEI9uYtSAY0fENqRBBN4Pyym5N" alt="">
    </ion-tab-button>

    <ion-tab-button tab="profile">
    <ion-icon></ion-icon>
    <img id="profile" src="https://drive.google.com/uc?export=view&id=1zA6a4J-3f8ZjP24_snAtW0Ay2Q_YYFLF" alt=""> -->
    </ion-tab-button>

    <ion-tab-button tab="addfriend">
      <img id="icon" src="https://drive.google.com/uc?export=view&id=1UGtZKCDjUl9-xPGAxRfwxptdcfBlGIpp" alt="">
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <!-- <ion-icon id="notify"></ion-icon> -->
      <img id="noti" src="https://drive.google.com/uc?export=view&id=1rKbCoM5IXVp3JRbygwI2GeVDNVoluilz" alt="">
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>
