<ion-header>
  <ion-toolbar>
    <ion-searchbar id="search" showCancelButton="focus" (ionChange)="change($event)" (ionFocus)="focus()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="checksearchuser()"> Check friend find</ion-button> -->
  <!-- <ion-button (click)="updateStatus()"> Check status</ion-button> -->
  <div id="container">
    <ion-list *ngIf="showUser">
      <ion-item-sliding *ngFor="let key of keys_search" color="success">
        <ion-card>
          <img src={{all_user_search[key].url_image}}>
          <ion-grid>
            <ion-col size="1" offset ="1" class="ion-align-items-start">
              <a>{{all_user_search[key].username}}</a>
              <ion-button *ngIf="all_user_search[key].status == 'unfriend'" (click)="addfriend(user_info.ID_user,key)">Add</ion-button>
              <ion-button  *ngIf="all_user_search[key].status == 'wait'" (click)="unWaitfriend(key,all_user_search[key].ID_friend,'unfriend')">un wait</ion-button>
              <ion-button  *ngIf="all_user_search[key].status == 'confirm'" (click)="confirmFriend(key,all_user[key].ID_friend,'friend')">confirm</ion-button>
              <ion-button  *ngIf="all_user_search[key].status == 'confirm'" (click)="unWaitfriend(key,all_user_search[key].ID_friend,'unfriend')">delete</ion-button>
              <ion-button  *ngIf="all_user_search[key].status == 'friend'" (click)="unWaitfriend( key,all_user_search[key].ID_friend,'unfriend')">unfriend</ion-button>
            </ion-col>
          </ion-grid>
        </ion-card>
      </ion-item-sliding>
    </ion-list>
    <!-- <ion-button (click)="showKey()"> Click Me</ion-button> -->
  </div>
</ion-content>
