#search{
  margin-top: 10px;
  }
  
  #container {
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-image: url('./backgroundA.png');
    background-size: 100%;
  }
  
  
  #container ion-card{
    display: flex;
    width: 90%;
    height: 90px;
    margin-top: 5px;
    margin-bottom: 2px;
    flex-direction: row;
    background-color:white;
  
  }
  
  #container img{
    height: 100px;
    width: 100px;
  }
  #container ion-list{
    height: 100%;
    width: 100%;
    background-color: transparent;
  }
  
  #container a{
    font-size: 25px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  
  #container button{
    height: 30px;
    width: 50px;
    background-color: pink;
    border-radius: 10px;
  
  
  
  }
  