#container{
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url('./register.png');
  background-size: 100%;
}

#container ion-input{
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  color: aliceblue;
  padding-left: 10px;
  background-color: blueviolet;
}


#container button{
  margin-top: 10px;
  width: 100px;
  height: 50px;
}

